
@{
    ViewBag.Title = "_LayoutSign";
}
@using System.Web.Optimization
@model proiect.Models.User.UserLogin
<!DOCTYPE html>
<html>
<head>

     @Styles.Render("~/bundles/mainPage.css")


</head>
<body>
     <div class="site-mobile-menu site-navbar-target">
          @Html.Partial("_Header")
     </div>

     <nav class="site-nav">
          @Html.Partial("_Navigation")
     </nav>

     @RenderBody()



     @Scripts.Render("~/bundles/mainPageJava/js")
     @RenderSection("scripts", required: false)

</body>
</html>

