@using proiect.Domain.Enums
<div class="page-sidebar pagescroll">

     <!-- MAIN MENU - START -->
     <div class="page-sidebar-wrapper" id="main-menu-wrapper">

          <!-- USER INFO - START -->
          <div class="profile-info row">

               <div class="profile-image col-4">
                    <a href="ui-profile.html">
                         <img alt="" src="..//data/profile/profile.jpg" class="img-fluid rounded-circle">
                    </a>
               </div>

               <div class="profile-details col-8">

                    <h3>
                         <a href="ui-profile.html">@HttpContext.Current.Session["UserName"]</a>

                         <!-- Available statuses: online, idle, busy, away and offline -->
                         <span class="profile-status online"></span>
                    </h3>

                    <p class="profile-title">@HttpContext.Current.Session["Role"]</p>

               </div>

          </div>
          <!-- USER INFO - END -->



          <ul class='wraplist'>

              <li class='menusection'>Main</li>
              <li class="">
                  <a href="@Url.Action("GeneralUserPage", "LoginUser")">
                      <i class="fa fa-dashboard"></i>
                      <span class="title">General</span>
                  </a>
              </li>
              <li class="">
                  <a href="javascript:;">
                      <i class="fa fa-suitcase"></i>
                      <span class="title">Profilul meu</span>
                  </a>
                  
              <li class="">
                  <a href="@Url.Action("NewsUserPage", "LoginUser")">
                      <i class="fa fa-suitcase"></i>
                      <span class="title">Noutăți</span>
                  </a>
                  
              <li class="">
                  <a href="@Url.Action("LocationsPage", "LoginUser")">
                      <i class="fa fa-columns"></i>
                      <span class="title">Locații</span>
                  </a>
                  
              @if (User.Identity.IsAuthenticated)
              {
                  var role = (proiect.Domain.Enums.URole)HttpContext.Current.Session["Role"];

                  if (role.ToString() == "Admin")
                  {
                      <li class="">
                          <a href="@Url.Action("SearchDonator", "LoginUser")">
                              <i class="fa fa-dashboard"></i>
                              <span class="title">Căutare donatori</span>
                          </a>
                      </li>

                      <li class="">
                          <a href="@Url.Action("Users", "Admin")">
                              <i class="fa fa-dashboard"></i>
                              <span class="title">Utilizatori</span>
                          </a>
                      </li>
                  }
                  else if (role.ToString() == "Doctor")
                  {
                      <li class="">
                          <a href="@Url.Action("SearchDonator", "LoginUser")">
                              <i class="fa fa-dashboard"></i>
                              <span class="title">Căutare donatori</span>
                          </a>
                      </li>
                  }
              }


              <li class='menusection'>Applications</li>
              <li class="">
                  <a href="ui-calendar.html">
                      <i class="fa fa-calendar"></i>
                      <span class="title">Calendar</span>
                  </a>
              </li>
              <li class="">
                  <a href="javascript:;">
                      <i class="fa fa-envelope"></i>
                      <span class="title">Mailbox</span>

                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a class="" href="mail-inbox.html">Inbox</a>
                      </li>
                      <li>
                          <a class="" href="mail-compose.html">Compose</a>
                      </li>
                      <li>
                          <a class="" href="mail-view.html">View</a>
                      </li>
                  </ul>
              </li>
              <li class="">
                  <a href="javascript:;">
                      <i class="fa fa-comments"></i>
                      <span class="title">Chat </span>
                      <span class="arrow "></span>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a class="" href="chat-api.html">Chat API</a>
                      </li>
                      <li>
                          <a class="" href="chat-windows.html">Chat Windows</a>
                      </li>
                  </ul>
              </li>
              <li class="">
                  <a href="@Url.Action("AnchetaPage", "LoginUser")">
                      <i class="fa fa-bullseye"></i>
                      <span class="title">Anchetă</span>
                      <span class="arrow "></span>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a class="" href="widget-misc.html">Miscellaneous</a>
                      </li>
                      <li>
                          <a class="" href="widget-tiles-counter.html">Counter Tiles</a>
                      </li>
                      <li>
                          <a class="" href="widget-tiles-progress.html">Progress Tiles</a>
                      </li>
                      <li>
                          <a class="" href="widget-socialmedia.html">Social Media</a>
                      </li>
                      <li>
                          <a class="" href="widget-graphs.html">Graphs</a>
                      </li>
                      <li>
                          <a class="" href="widget-todo.html">To Do Tasks</a>
                      </li>
                  </ul>
              </li>
              <li class="">
                  <a href="@Url.Action("Appointment", "LoginUser")">
                      <i class="fa fa-dashboard"></i>
                      <span class="title">Programare</span>
                  </a>
              </li>
              <li class='menusection'>Statistici generale</li>
              <li class="">
                  <a href="javascript:;">
                      <i class="fa fa-bar-chart"></i>
                      <span class="title">Statistici despre donatori</span>

                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a class="" href="charts-echart-line.html">Line & Area Charts</a>
                      </li>
                      <li>
                          <a class="" href="charts-echart-bar.html">Bar & Stacked Charts</a>
                      </li>
                      <li>
                          <a class="" href="charts-echart-scatter.html">Scatter Charts</a>
                      </li>
                      <li>
                          <a class="" href="charts-echart-pie.html">Pie Charts</a>
                      </li>
                      <li>
                          <a class="" href="charts-echart-gauge.html">Gauge Charts</a>
                      </li>
                  </ul>
              </li>

              <li class='menusection'>Page Kits</li>
              <li class="">
                  <a href="javascript:;">
                      <i class="fa fa-lock"></i>
                      <span class="title">Access Pages</span>
                      <span class="arrow "></span>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a class="" href="ui-login.html">Login</a>
                      </li>
                      <li>
                          <a class="" href="ui-lockscreen.html">Lock Screen</a>
                      </li>
                      <li>
                          <a class="" href="ui-register.html">Registration</a>
                      </li>
                  </ul>
              </li>

              <li class='menusection'>Navigation</li>
              <li class="">
                  <a href="javascript:;"> <i class="fa fa-folder-open"></i> <span class="title">Menu Levels</span> <span class="arrow "></span> </a>
                  <ul class="sub-menu">
                      <li> <a href="javascript:;"> <span class="title">Level 1.1</span> </a> </li>
                      <li>
                          <a href="javascript:;"> <span class="title">Level 1.2</span> <span class="arrow "></span> </a>
                          <ul class="sub-menu">
                              <li> <a href="javascript:;"> <span class="title">Level 2.1</span> </a></li>
                              <li>
                                  <a href="ujavascript:;"> <span class="title">Level 2.2</span> <span class="arrow "></span></a>
                                  <ul class="sub-menu">
                                      <li>
                                          <a href="javascript:;"> <span class="title">Level 3.1</span> <span class="arrow "></span></a>
                                          <ul class="sub-menu">
                                              <li> <a href="ujavascript:;"> <span class="title">Level 4.1</span> </a> </li>
                                              <li> <a href="ujavascript:;"> <span class="title">Level 4.2</span> </a> </li>
                                          </ul>
                                      </li>
                                      <li> <a href="ujavascript:;"> <span class="title">Level 3.2</span> </a> </li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </li>


          </ul>
     </div>
</div>