@{
    ViewBag.Title = "Contact";

    var bloodTypesPositiveRh = new[]
    {
        new { Name = "Grupa A, Rh(+)", ImageUrl = "/assets3/images/BloodType/typeA.png" },
        new { Name = "Grupa B, Rh(+)", ImageUrl = "/assets3/images/BloodType/typeB.png" },
        new { Name = "Grupa AB, Rh(+)", ImageUrl = "/assets3/images/BloodType/typeAB.png" },
        new { Name = "Grupa O, Rh(+)", ImageUrl = "/assets3/images/BloodType/typeO.png" },
    };

    var bloodTypesNegativeRh = new[]
    {
        new { Name = "Grupa A, Rh(-)", ImageUrl = "/assets3/images/BloodType/typeA.png" },
        new { Name = "Grupa B, Rh(-)", ImageUrl = "/assets3/images/BloodType/typeB.png" },
        new { Name = "Grupa AB, Rh(-)", ImageUrl = "/assets3/images/BloodType/typeAB.png" },
        new { Name = "Grupa O, Rh(-)", ImageUrl = "/assets3/images/BloodType/typeO.png" },
    };
 Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="hero overlay" style="background-image: url('/assets3/images/Contacts-ImagineaPrincipala.jpg')">
     <div class="container">
          <div class="row align-items-center justify-content-end">
               <div class="col-lg-6 text-right">
                    <h1 class="heading text-white mb-2" data-aos="fade-up">Grupe sangvine</h1>
                    <p data-aos="fade-up" class=" mb-5 text-white lead text-white">Oferim resurse și suport pentru donatorii actuali și potențiali, asigurându-ne că experiența donării este cât mai simplă și confortabilă posibil.</p>
                    <p data-aos="fade-up" data-aos-delay="100">
                    </p>
               </div>
          </div>
     </div>
</div>

<!-- Positive RH -->
<div class="section flip-section">
     <div class="container">
          <div class="row justify-content-center mb-5">
               <div class="col-lg-7 text-center" data-aos="fade-up">
                    <h3 class="heading text-white">Grupele sangvine cu Rh(+) pozitiv</h3>
               </div>
          </div>
     </div>
</div>

@using (Ajax.BeginForm("BloodType", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "success", OnFailure = "fail", UpdateTargetId = "resultTarget" }))
{
<div class="row">
     @foreach (var bloodType in bloodTypesPositiveRh)
        {
     <div class="col-lg-3 position-relative" data-aos="fade-up" data-aos-delay="100">
          <!-- Your card HTML structure -->
          <div class="mt-2">@bloodType.Name</div>
          <img src="@Url.Content(bloodType.ImageUrl)" alt="Image" style="width: 100%; height: auto; margin-right: 10px;">
          @Html.Hidden("btn", bloodType.Name)
          <button class="btn btn-primary btn-xs mt-2" style="width: 100%;" type="submit">View</button>
     </div>
        }
</div>
}

<!-- Negative RH -->
<div class="section flip-section">
     <div class="container">
          <div class="row justify-content-center mb-5">
               <div class="col-lg-7 text-center" data-aos="fade-up">
                    <h3 class="heading text-white">Grupele sangvine cu Rh(-) negativ</h3>
               </div>
          </div>
     </div>
</div>

@using (Ajax.BeginForm("BloodType", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "success", OnFailure = "fail", UpdateTargetId = "resultTarget" }))
{
<div class="row">
     @foreach (var bloodType in bloodTypesNegativeRh)
        {
     <div class="col-lg-3 position-relative" data-aos="fade-up" data-aos-delay="100">
          <!-- Your card HTML structure -->
          <div class="mt-2">@bloodType.Name</div>
          <img src="@Url.Content(bloodType.ImageUrl)" alt="Image" style="width: 100%; height: auto; margin-right: 10px;">
          @Html.Hidden("btn", bloodType.Name)
          <button class="btn btn-primary btn-xs mt-2" style="width: 100%;" type="submit">View</button>
     </div>
        }
</div>
}

<div class="section flip-section">

     <div class="container">
          <div class="row justify-content-center mb-5">
               <div class="col-lg-7 text-center" data-aos="fade-up">
                    <span class="subheading-white mb-3 text-white">Categorii</span>
                    <h2 class="heading text-white">Explorează centrele de donare</h2>
               </div>
          </div>
     </div>
</div>
