﻿@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@model proiect.Domain.Entities.User.UserMinimal
<h2>EditUserInfo</h2>

<section>
     <div>

          @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
        {
          @Html.AntiForgeryToken()

          @Html.ValidationSummary()

          <label for="Username">Name</label>
          @Html.TextBoxFor(m => m.UserName)
          @Html.ValidationMessageFor(m => m.UserName)
          <label for="Email">Email</label>
          @Html.TextBoxFor(m => m.Email)
          @Html.ValidationMessageFor(m => m.Email)
          <label for="Level">Level</label>
          @Html.TextBoxFor(m => m.Level)
          @Html.ValidationMessageFor(m => m.Level)
          <button type="submit" class="accept">Edit</button>
          <button onclick="location.href='/';return false;" class="cancel">Cancel</button>
        }

     </div>
</section>

