
@{
    ViewBag.Title = "News";
}
@model List<proiect.Domain.Entities.News.AddNews>

<!DOCTYPE html>
<html>
<head>
     <title> News</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta charset="UTF-8">
</head>

<body>

     <div class="section bg-light">

          <div class="container">
               <br>
               <br>

               <div class="row">

                    @if (User.Identity.IsAuthenticated)
                    {
                         var role = (proiect.Domain.Enums.URole)HttpContext.Current.Session["Role"];

                         if (role.ToString() == "Admin")
                         {
                    <div class="col-sm-6">
                         <a href="@Url.Action("AddNewsPage", "Home")" class="btn btn-success">Add News</a>
                    </div>
                    <div class="col-sm-6">
                     
                    </div>

                         }
                  }
                    @foreach (var item in Model)
{
                    <div class="col-lg-4 col-md-6">
                         <div class="causes-item bg-white">
                              @if (!string.IsNullOrEmpty(item.PhotoPath))
                              {
                              <img src="@Url.Content(item.PhotoPath)" alt="Image" class="img-fluid mb-4 rounded">
                              }
                              else
                              {
                              <p>Image path is empty or invalid</p>
                              }

                         <div class="px-4 pb-3 pt-3">
                              <span class="date">@Html.DisplayFor(modelItem => item.Created)</span>
                              <h3><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h3>
                              <p>@Html.DisplayFor(modelItem => item.Body)</p>
                              @if (User.Identity.IsAuthenticated)
{
var role = (proiect.Domain.Enums.URole)HttpContext.Current.Session["Role"];
     if (role.ToString() == "Admin")
     {
                              <button onclick="location.href='@Url.Action("EditNews", "Home", new { id = item.Id })'" class="btn btn-success">Edit</button>
                              <button onclick="location.href='@Url.Action("DeleteNews", "Home", new { id = item.Id })'" class="btn btn-success">Delete</button>

     }
}




                         </div>
                         </div>
                    
                    </div>
}

</body>
     </html>


